.list-item {
    display: flex;
    flex-direction: column;
    width: 80%;
    box-shadow: rgba(100, 100, 100, 0.1) 0px 6px 15px 0px;
    padding: 1em;
    border-radius: 1em;
    margin-bottom: 1em;
    transition: 0.5s;
    width: 50%;
}

.list-item:hover {
    box-shadow: rgba(100, 100, 100, 0.2) 0px 6px 20px 0px;
}

@media (max-width: 1200px) {
    .list-item {
        width: 60%;
    }
}

@media (max-width: 992px) {
    .list-item {
        width: 70%;
    }
}

@media (max-width: 768px) {
    .list-item {
        width: 90%;
    }
}